.App {
  margin: 0px;
}
/* Info */
.container-info{
  background-image: url(./imgs/Mask\ Group\ 1.png);
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0px;
  text-align: center;
}
.container-text{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}
.img01{
  width: 400px;
  height: 450px;
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 65px;
}
.text01 {
  color: aliceblue;
}
.titulo {
  padding-top: 10em;
  padding-left: 0px;
  margin-left: 0px;
}
.boton01{
  width: 200px;
  height: 50px;
  border-radius: 30px;
  font-size: 20px;
  color: rgba(0, 89, 255, 0.897);
}
.boton01:hover{
  border: 0.5px solid rgba(252, 80, 0, 0.973);
}
.text01 > span{
  color: rgb(255, 136, 0);
}
/* Login */
.container-login{
  background-image: url(./imgs/Mask\ Group\ 1.png);
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.numbers > img{
  padding: 25px 25px 0px 25px;
  margin: 25px 25px 0px 25px;
}
.column-1{
  margin: 0px;
  padding: 45px 0px 0px 45px;
}
#title02{
  color: aliceblue;
}
.column-1 > p, label {
  color: aliceblue;
}
.column-1 > p{
  font-size: 20px;
}
.column-1 > button{
  border-radius: 30px;
}
#title02 > span{
  color: rgb(255, 136, 0);
}
.column-2{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
progress{
  width: 700px;
}
.big-1{
  margin: 20px;
}
.firstname, .lastname{
  color: aliceblue;
  text-align: left;
}
.input-lastname, .input-name{
  width: 300px;
  height: 40px;
  margin: 5px;
  display: flex;
  align-items: flex-start;
}
.boton-enviar{
  border-radius: 20px;
  width: 200px;
  height: 40px;
  font-size: 15px;
  color: aliceblue;
  background-color: #d73620;
}
.fila-2{
  grid-column: 1/3;
}
/* Validate */
.img03{
  width: 500px;
  height: 600px;
}
/* Codigo */
.column-validate{
  display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-start;
}
.text-validate{
  display: flex;
  text-align: left;
  flex-direction: column;
  color: aliceblue;
}
.text-validate-1{
  font-size: 25px;
  margin-bottom: 0px;
}
.resend-code{
  text-align: left;
  font-size: 25px;
  color: aliceblue;
}
.resend-code > span{
  
  font-weight: 100;
}
.container-send-code{
  background-image: url(./imgs/Mask\ Group\ 1.png);
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}
.img-ok{
  width: 50px;
  height: 50px;
}
.container-send-code > .text-send-code{
  color: aliceblue;
  text-decoration: node;
  outline: none;
}
.conditions{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.img04{
  margin-right: 100px;
  margin-top: 100px;
  width: 300px;
  height: 500px;
}
.column-data{
  text-align: left;
  margin-top: 150px;
}
.text-sen-data >.text-data{
  font-size: 20px;
  margin: auto auto 0px auto;
  text-align: left;
  color: aliceblue;
}
.text-sen-data > p{
  text-align: left;
  color: aliceblue;
}
#anuncio{
  margin-top: 0px;
}
#anuncio-1{
  margin-bottom: 0px;
}
.pie{
  background-color: black;
  width: 100%;
  grid-column: 1/3;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pie > div{
  color: aliceblue;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 13px;
}
.container-img{
  width: 300px;
  height: 500px;
}
.pie-info{
  background-color: black;
  width: 100%;
  grid-column: 1/3;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.pie-info > div{
  color: aliceblue;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 13px;
  margin: 28px 0px 28px 0px;
}